<!DOCTYPE html>
<html>
  <head>
    <title>Tore</title>
  </head>
  <body>
    <h1>Tore</h1>
    <h2>Notifications:</h2>
    <ul>
    %if (notifs.count > 0) {%
        %for (size_t i = 0; i < notifs.count; ++i) {%
            %Collapsed_Notification *it = &notifs.items[i];%
            %assert(it->count > 0);%
            %if (it->count == 1) {%
                <li>%ESCAPED_OUT(it->title, strlen(it->title));%</li>
            %} else {%
                <li>[%INT(it->count);%] %ESCAPED_OUT(it->title, strlen(it->title));%</li>
            %}%
        %}%
    %} else {%
        <p>No notifications</p>
    %}%
    </ul>
    <h2>Reminders:</h2>
    <ul>
    %if (reminders.count > 0) {%
        %for (size_t i = 0; i < reminders.count; ++i) {%
          <li>%ESCAPED_OUT(reminders.items[i].title, strlen(reminders.items[i].title));%</li>
        %}%
    %} else {%
        <p>No reminders</p>
    %}%
    </ul>
  </body>
</html>
